# Changes for PowerBi

In [1]:
# importing necessary libraries
import pandas as pd

In [2]:
# load data
df = pd.read_csv("hr_employee_churn_data_cleaned.csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,salary,left
0,0.38,0.53,2,157,3,0,0,low,1
1,0.80,0.86,5,262,6,0,0,medium,1
2,0.11,0.88,7,272,4,0,0,medium,1
3,0.72,0.87,5,223,5,0,0,low,1
4,0.37,0.52,2,159,3,0,0,low,1

In [3]:
# change left column
df['left'] = df['left'].map({0: "left", 1: "retain"})
print(f'left:\n{df['left'].value_counts()}\n')

# change work_accident column
df['Work_accident'] = df['Work_accident'].map({0: "no", 1: "yes"})
print(f'work_accident:\n{df['Work_accident'].value_counts()}\n')

# change left column
df['promotion_last_5years'] = df['promotion_last_5years'].map({0: "no", 1: "yes"})
print(f'promotion_last_5years:\n{df['promotion_last_5years'].value_counts()}')

left:
left
left      9999
retain    1960
Name: count, dtype: int64

work_accident:
Work_accident
no     10109
yes     1850
Name: count, dtype: int64

promotion_last_5years:
promotion_last_5years
no     11756
yes      203
Name: count, dtype: int64

In [4]:
# save data
file_name = "hr_employee_churn_data_cleaned.csv"
df.to_csv(file_name, index= False)
print(f"data saved as {file_name}")

data saved as hr_employee_churn_data_cleaned.csv